<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.6.1" targetFramework="net46" />
  <package id="VSMSDK.Modeling.Sdk.14.0" version="14.023107.0" targetFramework="net46" />
  <package id="VSMSDK.Modeling.Sdk.Diagrams.14.0" version="14.023107.0" targetFramework="net46" />
  <package id="VSMSDK.Modeling.Sdk.Shell.14.0" version="14.023107.0" targetFramework="net46" />
</packages>